@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

.asdf{
  background-color:#0D0000;
  
}

.form-control {
  font-family: "Quicksand", sans-serif;
}

.form-label {
  font-family: "Quicksand", sans-serif;
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #0D0000;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

.container{
  background-color: #0D0000;
  border-radius: 25px;
  
}

.btn {
  border-color: transparent;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 800;
  background-color: #0D0000;
  color: #fff;
  margin: 3px;
  transition: all linear 0.5s;
  
}

.btn:hover {
  background-color: rgb(161, 60, 60);
}




