.btn-circle-xl {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  margin: auto;
  width: 100%;
  height: 100%;
  line-height: 70px;
  font-size: 1.3rem;
}
