<div class="container px-5 my-5">

    <div class="row gx-5 justify-content-center">
        <div class="col-lg-8 col-xl-6">
            <div class="text-center">
                <h2 class="fw-bolder">Cuenta</h2>
            </div>
        </div>
    </div>

    <!-- "Cards" Obtener Eventos -->
    <div class="col-lg-4 mb-5" *ngFor="let hab of carritoModelGet">

        <div class="card h-100 shadow border-0">
            <img class="card-img-top" src="https://images.e-tsw.com/_lib/vimages/Cancun/Hotels/Hard-Rock-Hotel-Cancun/Gallery/a-Cancun-Hard-Rock-Deluxe-Gold-King-DLXDBLCA.jpg" alt="...">
            <div class="card-body p-4">
                <div class="badge bg-primary bg-gradient rounded-pill mb-2">{{ hab.habitacion.numeroHabitacion }}</div>
                
            </div>
        </div>
    </div>
</div>
